<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe View - Recipes</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script crossorigin="anonymous"
            integrity="sha256-Rf4BadfyCtsvHmO89BUZcbYvNNvZvOT08ALfEzvCsD0="
            src="https://code.jquery.com/jquery-3.0.0.slim.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title" th:text="${recipe.description}">Recipe Description</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Categories:</h5>
                        </div>
                        <div class="col-md-3">
                            <ul th:remove="all-but-first">
                                <li th:each="category : ${recipe.categories}" th:text="${category.description}">category 1</li>
                                <li>category 2</li>
                                <li>category 3</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="../../static/images/guacamole-200-placeholder.jpg"
                            th:src="@{/images/guacamole-200-placeholder.jpg}" th:if="${recipe.image == null}"
                             width="200" height="200"/>
                            <img src="../../static/images/guacamole-200-placeholder.jpg"
                                 th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}" th:if="${recipe.image != null}"
                                 width="200" height="200"/>
                            <a class="btn btn-primary" href="#"
                               th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">Change Image</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Prep time:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.prepTime} + ' min'">30 min</p>
                        </div>
                        <div class="col-md-3">
                            <h5>Difficulty</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.difficulty}">Easy</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Cook time:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.cookTime} + ' min'">30 min</p>
                        </div>
                        <div class="col-md-3">
                            <h5>Servings</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.servings}">4</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Source</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.source}">somewhere</p>
                        </div>
                        <div class="col-md-3">
                            <h5>URL</h5>
                        </div>
                        <div class="col-md-3">
                            <p><a href="#" th:href="@{${recipe.url}}" th:text="${recipe.url}">https://www.example.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                            <h5 class="card-title">Ingredients</h5>
                            <a class="card-link btn btn-primary" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul th:remove="all-but-first">
                                <li th:each="ingredient : ${recipe.ingredients}"
                                    th:text="${ingredient.amount}
                                    + ' ' + ${ingredient.uom.description}
                                    + ' of ' + ${ingredient.description}">1 Cup of milk</li>
                                <li>1 Tablespoon of flour</li>
                                <li>1 Teaspoon of salt</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Directions</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.directions}">Lorem impsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Notes</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.notes.recipeNotes}">Lorem impsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>