<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes Home</title>
</head>
<body>
<h1>Recipes App Index</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Difficulty</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">1234</td>
        <td th:text="${recipe.getDescription()}">Piece of cake</td>
        <td th:text="${recipe.getDifficulty()}">Nightmare</td>
    </tr>
</table>

</body>
</html>